@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>iSimulator</h1>
    <p class="lead">Es una apliación web que permite ingresar a un persona que este autorizada, para la administración y mantenimiento de: clientes, prestamos y pagos.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <h1>Intregrantes del grupo</h1>
    <div class="col-md-4">
        <h2>Evelyn Arcos</h2>
        <p>
            Estudiante de la carrera de Ingeniería de Sistemas de Información de la Universidad Israel.
            Trabaja en casa, y su pasatiempo es escuchar música.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Perfil de facebook &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Jhonathan Santacruz</h2>
        <p>
            Estudiante de la carrera de Ingeniería de Sistemas de Información de la Universidad Israel.
            Trabaja en la Universidad Israel como ....., y su pasatiempo es jugar fútbol.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Javier Logroño</h2>
        <p>
            Estudiante de la carrera de Ingeniería de Sistemas de Información de la Universidad Israel.
            Trabaja en Banco Diners Club del Ecuador como Analista de Seguridad Informática, y su pasatiempo es escuchar jugar fútbol, también le
            gusta la investigación de apliaciones web.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Perfil en Likedin &raquo;</a></p>
    </div>
</div>